/* Navigation Bar for better Navigation of pages */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(135deg, #030303, #d3d3d3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 1000;
    /* ensures navbar stays on top of everything */
}

.navbar-right {
    justify-self: end;
    display: flex;
    gap: 20px;
}

.navbar-spacer {
    height: 80px;
    /* same height as navbar to prevent content overlap */
}

.arrow-btn:hover {
    background: silver;
    transform: translateX(-5px);
}

span {
    color: black;
    font-weight: bold;
}

body {
    background: rgb(34, 34, 34);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

body.loaded {
    opacity: 1;
}

h1,
h2 {
    color: white;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 2px 2px 2px black;
}

.arrow-btn-left {
    position: fixed;
    top: 20px;
    left: 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3 ease, transform 0.2 ease;
    text-shadow: 1px 1px 1px white;

}

.arrow-btn-left:hover {
    background: rgba(255, 255, 255, 0.711);
    transform: translateX(-5px);
}

.flipped {
    display: inline-block;
    transform: scaleX(-1);
}

.arrow-btn-left span {
    color: white;
    font-weight: bold;
}
/* --------------------------------------Description/Project Info Section (video) Style and layout--------------------------------------------------------- */
.GGVidDesign-card {
    flex: 1;
    max-width: 50%;
    background: rgb(58, 58, 57);
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    margin-bottom:70px;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.GGVid-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
/* Video on Top */
.GG-Video {
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
}
.GGvideo-box{
width: 100%;
display: flex;
justify-content: center;
margin-bottom: 40px; /* Some Spacing*/
}
/* Video on Top */
/* ------------------ */
.GGVid-description {
    flex: 1;
    color: white;
    font-size: 25px;
    line-height: 1.5;
    text-shadow: 2px 2px 2px black;
}

.GGVid-description h2 {
    color: white;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
}
.GGproject-info-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
    color: white;
    font-size: 22px;
    line-height: 1.6;
    text-shadow: 2px 2px 2px black;
  }
  .GGproject-info-list li{
    margin-bottom: 5px;
  }
  .GGproject-info-list strong{
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
  }

/* -------------------------------------GUNGAME Info Section-------------------------------- */
.info-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
    width: 100%;
    max-width: 1700px;
    margin-left: 10px;
    padding: 0 auto;
}

.GUNGAME-image {
    width: 800px;
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
}

.GUNGAME-description {
    flex: 1;
    margin-bottom: 250px;
    color: white;
    font-size: 24px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px black;
}

.GUNGAME-description h2 {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px black;
    font-size: 28px;
}