/* Navigation Bar for better Navigation of pages */
.navbar {
    position: fixed;
    top: 0;  left: 0;  width: 100%;  height: 80px;
    background: linear-gradient(135deg, #030303, #d3d3d3);
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 1000; /* ensures navbar stays on top of everything */
}
.navbar-right {
    justify-self: end;
    display: flex;
    gap: 20px;
}
.navbar-spacer {
    height: 80px; /* same height as navbar to prevent content overlap */
}
.arrow-btn:hover {
        background: silver;
        transform: translateX(-5px);
    }
    span{
        color: black;
        font-weight: bold;
    }
    
    body{
        background: rgb(34, 34, 34);
        background-size: cover;
        display: flex;
        align-items: center; 
        flex-direction: column;
        justify-content: flex-start;
        min-height: 100vh;
        margin: 0;
        padding-top: 30px;
        
    }
    h1,h2{
        color: white;
        text-align: center;
        margin-bottom: 50px;
        text-shadow: 2px 2px 2px white;
    }
    
    .arrow-btn-left{
        position: fixed;
        top:20px;
        left: 25px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3 ease, transform 0.2 ease;
        text-shadow: 1px 1px 1px white;
        
    }
    .arrow-btn-left:hover{
        background: rgba(255, 255, 255, 0.711);
        transform: translateX(-5px);
    }
    .flipped {
        display: inline-block;
        transform: scaleX(-1);
    }

    .arrow-btn-left span{
        color: white;
        font-weight: bold;  
    }
