/* --------------------------------------Main Page Style--------------------------------------------------------- */
/* Navigation Bar for better Navigation of pages */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(135deg, #7e0808, #dbdbd9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 1000;
    /* ensures navbar stays on top of everything */
}

.navbar-right {
    justify-self: end;
    display: flex;
    gap: 20px;
}

.navbar-spacer {
    height: 80px;
    /* same height as navbar to prevent content overlap */
}

.arrow-btn:hover {
    background: silver;
    transform: translateX(-5px);
}

span {
    color: black;
    font-weight: bold;
}

body {
    background: rgb(139, 7, 7);
    background-size: cover;
    display: block;
    margin: 0;
    min-height: 100vh;
    padding-top: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

body.loaded {
    opacity: 1;
}

h1,
h2 {
    color: white;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 2px 2px 2px black;
}

.arrow-btn-left {
    position: fixed;
    top: 20px;
    left: 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3 ease, transform 0.2 ease;
    text-shadow: 1px 1px 1px black;
}

.arrow-btn-left:hover {
    background: rgba(255, 255, 255, 0.711);
    transform: translateX(-5px);
}

.flipped {
    display: inline-block;
    transform: scaleX(-1);
}

.arrow-btn-left span {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.section-divider,
.top-hr {
    width: 100%;
    height: 3px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, white, #a00606, white);
    margin: 60px auto 40px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
/* --------------------------------------LeapCity 2 Level 1 Design Section--------------------------*/
.LC2LvlDesign-card {
    display: flex;
    flex-direction: flex;
    text-align: left;
    align-items: left;
    border: 2px solid white;
    background: rgb(209, 76, 83);
    border-radius: 20px;
    padding: 25px;
    width: 950px;
    height: auto;
    max-width: 1000px;
    box-shadow: 0 0 10px white;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.LC2level-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
    width: 100%;
    max-width: 1800px;
    margin-left: 10px;
    padding: 0 auto;
}

.LC2level-image {
    width: 950px;
    height: auto;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
}

.LC2Game-description {
    flex: 1;
    margin-bottom: 100px;
    color: white;
    font-size: 24px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px black;
}

.LC2Game-description h2 {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px black;
    font-size: 30px;
}