  /* --------------------------------------Main Page Style--------------------------------------------------------- */
.arrow-btn:hover {
        background: silver;
        transform: translateX(-5px);
    }
    span{
        color: black;
        font-weight: bold;
    }
    
    body{
        background: grey;
        background-size: cover;
        display: flex;
        align-items: center; 
        flex-direction: column;
        justify-content: flex-start;
        min-height: 100vh;
        margin: 0;
        padding-top: 30px;
        
    }
    h1,h2{
        color: white;
        text-align: center;
        margin-bottom: 50px;
        text-shadow: 2px 2px 2px white;
    }
    
    .arrow-btn-left{
        position: fixed;
        top:20px;
        left: 25px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3 ease, transform 0.2 ease;
        text-shadow: 1px 1px 1px white;
        
    }
    .arrow-btn-left:hover{
        background: rgba(255, 255, 255, 0.711);
        transform: translateX(-5px);
    }
    .flipped {
        display: inline-block;
        transform: scaleX(-1);
    }

    .arrow-btn-left span{
        color: white;
        font-weight: bold;  
    }
    /* --------------------------------------MyGlidingSym Info Section Style--------------------------------------------------------- */
.info-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
    width: 100%;
    max-width: 1490px;
    margin-left: -400px;
    padding: 0 auto;
}
.game-image{
    width: 850px;
    height: auto;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 0 10px silver;
}
.GSGame-description{
    flex: 1;
    margin-bottom: 300px;
    color: white;
    font-size: 24px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px silver;
}

.GSGame-description h2{
    color: white;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px silver;
    font-size: 28px;
}
 /* --------------------------------------MyGlidingSym Level Section Style--------------------------------------------------------- */
.GSlevel-section{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 1800px;
    margin-left: 0px;
    padding: 0 auto;
}
.Level-image{
    width: 990px;
    height: 800px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 0 10px silver;
}
.GSlevel-description{
    flex: 1;
    margin-bottom: 500px;
    color: white;
    font-size: 24px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px silver;
}

.GSlevel-description h2{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px silver;
    font-size: 30px;
}