.arrow-btn:hover {
        background: silver;
        transform: translateX(-5px);
    }
    span{
        color: black;
        font-weight: bold;
    }
    
    body{
        background-image: url("DarkPurpleBG.jpg");
        background-size: cover;
        display: flex;
        align-items: center; 
        flex-direction: column;
        justify-content: flex-start;
        min-height: 100vh;
        margin: 0;
        padding-top: 30px;
        
    }
    h1,h2{
        color: white;
        text-align: center;
        margin-bottom: 50px;
        text-shadow: 2px 2px 2px white;
    }
    
    .arrow-btn-left{
        position: fixed;
        top:20px;
        left: 25px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3 ease, transform 0.2 ease;
        text-shadow: 1px 1px 1px white;
        
    }
    .arrow-btn-left:hover{
        background: rgba(255, 255, 255, 0.711);
        transform: translateX(-5px);
    }
    .flipped {
        display: inline-block;
        transform: scaleX(-1);
    }

    .arrow-btn-left span{
        color: white;
        font-weight: bold;  
    }

    /* -------------------------------------GameLogo Container-------------------------------------------- */

    .Projects-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 20px;
    }
    /* -------------------------------------SpeedRacers LOGO----------------------------------------- */
    
    /* SpeedRacers Card */
    .SRlogo-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 4px solid purple;
        background: rgb(200, 180, 59);
        border-radius: 20px;
        padding: 25px;
        width: 500px;
        height: 750px;
        box-shadow: 5px 10px 10px rgba(0,0,0,0.5);
        transition: transform 0.3s ease, box-shadow 0.3 ease;
    }
    
    /* my Game logo Image */
    .SRlogo{
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 5px;
    }
    /* Game Description Text */
    .SRlogo-text{
        text-align: left;
        margin-bottom: 50px;
        color: purple;
        max-width: 600px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
    }
    .SRlogo-text h2{
        justify-content: center;
        color: yellow;
        margin-bottom: 50px;
        text-shadow: 4px 4px 4px purple;
    }
    .SRlogo-card:hover{
        transform: translateY(-5px);
        box-shadow: 0 6px 15px yellow;
    }

    .SRitch-btn{
    
        padding: 10px 25px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        color: yellow;
        transition: 0.3 ease;
        text-shadow: 2px 2px 2px purple;
    }
    .SRitch-btn:hover{
        background: purple;
        color: yellow;
        transform: scale(1.05);
        text-shadow: 2px 2px 2px purple;
    }
    .SRmoreinfo-btn{
        padding: 10px 25px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        color: purple;
        border: 2px solid purple;
        transition: 0.3 ease;
        text-shadow: 2px 2px 2px yellow;
        margin-left: 70px;
    }
    
    .SRmoreinfo-btn:hover{
        background: purple;
        color: yellow;
        transform: scale(1.05);
        text-shadow: 1px 1px 1px purple;
    }
    /* -------------------------------------MYGLIDINGSIM-LOGO----------------------------------------- */

/* MyGlidingSim Card */
    .MGSlogo-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 4px solid white;
        background: rgb(66, 66, 66);
        border-radius: 20px;
        padding: 25px;
        width: 500px;
        height: 750px;
        box-shadow: 5px 10px 10px rgba(0,0,0,0.5);
        transition: transform 0.3s ease, box-shadow 0.3 ease;
    }
    
    /* my Game logo Image */
    .MGSlogo{
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 5px;
    }
    /* Game Description Text */
    .MGSlogo-text{
        text-align: left;
        margin-bottom: 50px;
        color: white;
        max-width: 600px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
    }
    .MGSlogo-text h2{
        justify-content: center;
        color: grey;
        margin-bottom: 50px;
        text-shadow: 2px 2px 2px white;
    }
    .MGSlogo-card:hover{
        transform: translateY(-5px);
        box-shadow: 0 6px 15px grey;
    }
    /* MyGlidingSim itch.io btn design */
    .MGSitch-btn{
    
        padding: 10px 25px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        color: grey;
        transition: 0.3 ease;
        text-shadow: 2px 2px 2px white;
    }

    .MGSitch-btn:hover{
        background: white;
        color:  grey;
        transform: scale(1.05);
        text-shadow: 2px 2px 2px grey;
    }
    .MGSmoreinfo-btn{
        padding: 10px 25px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        color: grey;
        border: 2px solid grey;
        transition: 0.3 ease;
        text-shadow: 2px 2px 2px white;
        margin-left: 70px;
    }
    
    .MGSmoreinfo-btn:hover{
        background: white;
        color: grey;
        transform: scale(1.05);
        text-shadow: 1px 1px 1px grey;
    }
 /* -------------------------------------InfiniteTrigger-LOGO----------------------------------------- */

/* InfiniteTrigger Card */
    .IFTGlogo-card{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border: 4px solid rgb(0, 0, 0);
        background: rgb(45, 78, 52);
        border-radius: 20px;
        padding: 25px;
        width: 500px;
        height: 750px;
        max-width: 1000px;
        box-shadow: 5px 10px 10px rgba(0,0,0,0.5);
        transition: transform 0.3s ease, box-shadow 0.3 ease;
    }
    
    /* my Game logo Image */
    .IFTGlogo{
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 5px;
    }
    /* Game Description Text */
    .IFTGlogo-text{
        text-align: left;
        margin-bottom: 50px;
        color: black;
        max-width: 600px;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1px 1px 1px black;
        line-height: 1.5;
    }
    .IFTGlogo-text h2{
        justify-content: center;
        text-align: center;
        color: black;
        margin-bottom: 50px;
        text-shadow: 2px 2px 2px black;
    }
.IFTGlogo-card:hover{
        transform: translateY(-5px);
        box-shadow: 0 6px 15px green;
    }

    /* Infinite Trigger Itch.io btn design */
    .IFTGitch-btn{

        padding: 10px 25px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        transition: 0.3 ease;
        text-shadow: 2px 2px 2px black;
    }

    .IFTGitch-btn:hover{
        background: black;
        color: rgb(45, 78, 52);;
        transform: scale(1.05);
        text-shadow: 1px 1px 1px rgb(45, 78, 52);
    }

    .IFTGmoreinfo-btn{
        padding: 10px 25px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        border: 2px solid black;
        transition: 0.3 ease;
        text-shadow: 2px 2px 2px black;
        margin-left: 70px;
    }
    
    .IFTGmoreinfo-btn:hover{
        background: black;
        color: rgb(45, 78, 52);;
        transform: scale(1.05);
        text-shadow: 1px 1px 1px rgb(45, 78, 52);
    }
    /* -------------------------------------GameLogo Container-------------------------------------------- */
    
    