.arrow-btn:hover {
        background: silver;
        transform: translateX(-5px);
    }
    .flipped {
        display: inline-block;
        transform: scaleX(-1);
    }
    span{
        color: black;
        font-weight: bold;
    }

    body{
        background-image: url("DarkPurpleBG.jpg");
        background-size: cover;
        align-items: center; 
        flex-direction: column;
        justify-content: flex-start;
        min-height: 100vh;
        margin: 0;
        padding-top: 30px;
        
    }
    h1{
        color: white;
        text-align: center;
        margin-bottom: 50px;
        text-shadow: 2px 2px 2px white;
    }

    .arrow-btn-left{
        position: fixed;
        top:20px;
        left: 25px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        background: none;
        transition: color 0.3 ease, transform 0.2 ease;
        text-shadow: 1px 1px 1px white;
        
    }
    .arrow-btn-left:hover{
        background: rgba(255, 255, 255, 0.711);
        transform: translateX(-5px);
    }

    .arrow-btn-left span{
        color: white;
        font-weight: bold;  
    }

    /* -------------------------------------GameLogo Container-------------------------------------------- */

    .Projects-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px
    }
    /* -------------------------------------SpeedRacers LOGO----------------------------------------- */
    
    /* SpeedRacers Card */
    .SRlogo-card{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: rgb(200, 180, 59);
        border-radius: 20px;
        padding: 25px;
        width: 80%;
        max-width: 1000px;
        box-shadow: 5px 10px 10px rgba(0,0,0,0.5);
        transition: transform 0.3s ease, box-shadow 0.3 ease;
    }
    
    /* my Game logo Image */
    .SRlogo{
        width: 250px;
        height: auto;
        border-radius: 10px;
        margin-right: 30px;
    }
    /* Game Description Text */
    .SRlogo-text{
        text-align: left;
        margin-bottom: 50px;
        color: purple;
        max-width: 600px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
    }
    .SRlogo-text h2{
        justify-content: center;
        color: yellow;
        margin-bottom: 50px;
        text-shadow: 4px 4px 4px purple;
    }
    .SRlogo-card:hover{
        transform: translateY(-5px);
        box-shadow: 0 6px 15px yellow;
    }
    /* -------------------------------------MYGLIDINGSIM-LOGO----------------------------------------- */

/* MyGlidingSim Card */
    .MGSlogo-card{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: rgb(66, 66, 66);
        border-radius: 20px;
        padding: 25px;
        width: 80%;
        max-width: 1000px;
        box-shadow: 5px 10px 10px rgba(0,0,0,0.5);
        transition: transform 0.3s ease, box-shadow 0.3 ease;
    }
    
    /* my Game logo Image */
    .MGSlogo{
        width: 250px;
        height: auto;
        border-radius: 10px;
        margin-right: 30px;
    }
    /* Game Description Text */
    .MGSlogo-text{
        text-align: left;
        margin-bottom: 50px;
        color: white;
        max-width: 600px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
    }
    .MGSlogo-text h2{
        justify-content: center;
        color: grey;
        margin-bottom: 50px;
        text-shadow: 2px 2px 2px white;
    }
.MGSlogo-card:hover{
        transform: translateY(-5px);
        box-shadow: 0 6px 15px grey;
    }
 /* -------------------------------------InfiniteTrigger-LOGO----------------------------------------- */

/* MyGlidingSim Card */
    .IFTGlogo-card{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: rgb(45, 78, 52);
        border-radius: 20px;
        padding: 25px;
        width: 80%;
        max-width: 1000px;
        box-shadow: 5px 10px 10px rgba(0,0,0,0.5);
        transition: transform 0.3s ease, box-shadow 0.3 ease;
    }
    
    /* my Game logo Image */
    .IFTGlogo{
        width: 250px;
        height: auto;
        border-radius: 10px;
        margin-right: 30px;
    }
    /* Game Description Text */
    .IFTGlogo-text{
        text-align: left;
        margin-bottom: 50px;
        color: black;
        max-width: 600px;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1px 1px 1px black;
        line-height: 1.5;
    }
    .IFTGlogo-text h2{
        justify-content: center;
        color: black;
        margin-bottom: 50px;
        text-shadow: 2px 2px 2px black;
    }
.IFTGlogo-card:hover{
        transform: translateY(-5px);
        box-shadow: 0 6px 15px green;
    }
    /* -------------------------------------GameLogo Container-------------------------------------------- */
    
    
    