/* Navigation Bar for better Navigation of pages */
.navbar {
    position: fixed;
    top: 0;  left: 0;  width: 100%;  height: 80px;
    background: linear-gradient(135deg, #b4a78c, #776c57);
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 1000; /* ensures navbar stays on top of everything */
}
.navbar-right {
    justify-self: end;
    display: flex;
    gap: 20px;
}
.navbar-spacer {
    height: 80px; /* same height as navbar to prevent content overlap */
}
.arrow-btn:hover {
    background: silver;
    transform: translateX(-5px);
}

span {
    color: black;
    font-weight: bold;
}

body {
    background: rgb(150, 126, 95);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 30px;

}

h1,h2 {
    color: black;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 2px 2px 2px black;
}

.arrow-btn-left {
    position: fixed;
    top: 20px;
    left: 25px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3 ease, transform 0.2 ease;
    text-shadow: 1px 1px 1px black;

}

.arrow-btn-left:hover {
    background: rgba(255, 255, 255, 0.711);
    transform: translateX(-5px);
}

.flipped {
    display: inline-block;
    transform: scaleX(-1);
}

.arrow-btn-left span {
    color: black;
    font-weight: bold;
}
 .section-divider, .top-hr{
    width: 100%;
    height: 3px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(71, 57, 38), #000000, #685539);
    margin: 60px auto 40px auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}
/* --------------------------------------SHopsimulator Info/Description Section-------------------------------------------------------- */
.ShopSimUML-card{
        display: flex;
        flex-direction: flex;
        text-align: left;
        align-items: left;
        border: 2px solid black;
        background: rgb(73, 62, 45);
        border-radius: 20px;
        padding: 25px;
        width: 950px;
        height: auto;
        max-width: 1000px;
        box-shadow: 0 0 10px black;
        transition: transform 0.3s ease, box-shadow 0.3 ease;
    }
.info-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
    width: 100%;
    max-width: 1700px;
    margin-left: 10px;
    padding: 0 auto;
}

.coding-image {
    width: 950px;
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
}

.ShopSim-description{
    flex: 1;
    margin-bottom: 170px;
    color: black;
    font-size: 24px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px black;
}

.ShopSim-description h2{
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px black;
    font-size: 28px;
}
/* ---------------------------------- ShopSimulator Video/ Description -----------------------*/
.ShopSimVid-card{
        display: flex;
        flex-direction: flex;
        text-align: left;
        align-items: left;
        border: 2px solid black;
        background: rgb(73, 62, 45);
        border-radius: 20px;
        padding: 25px;
        width: 950px;
        height: auto;
        max-width: 1000px;
        box-shadow: 0 0 10px black;
        transition: transform 0.3s ease, box-shadow 0.3 ease;
    }
.Gameplay-images{
    display: flex;
}
.ShopSimVideo-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin-left: 5px;
}
.video-image{
    width: 1700px;
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
}

.ShopSimVid-description{
    flex: 1;
    margin-bottom: 100px;
    color: black;
    font-size: 24px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px black;
}

.ShopSimVid-description h2{
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px black;
    font-size: 30px;
}
