/* --------------------------------------Main Page Style--------------------------------------------------------- */
/* Navigation Bar for better Navigation of pages */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(135deg, #68026e, #896a03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 1000;
    /* ensures navbar stays on top of everything */
}

.navbar-right {
    justify-self: end;
    display: flex;
    gap: 20px;
}

.navbar-spacer {
    height: 80px;
    /* same height as navbar to prevent content overlap */
}

.arrow-btn:hover {
    background: silver;
    transform: translateX(-5px);
}

span {
    color: black;
    font-weight: bold;
}

body {
    background: purple;
    background-size: cover;
    display: block;
    margin: 0;
    min-height: 100vh;
    padding-top: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

body.loaded {
    opacity: 1;
}

h1,
h2 {
    color: yellow;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 2px 2px 2px purple;
}

.arrow-btn-left {
    position: fixed;
    top: 20px;
    left: 25px;
    color: yellow;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3 ease, transform 0.2 ease;
    text-shadow: 1px 1px 1px yellow;
}

.arrow-btn-left:hover {
    background: rgba(255, 255, 255, 0.711);
    transform: translateX(-5px);
}

.flipped {
    display: inline-block;
    transform: scaleX(-1);
}

.arrow-btn-left span {
    color: yellow;
    font-weight: bold;
    text-shadow: 1px 1px 1px purple;
}

.section-divider,
.top-hr {
    width: 100%;
    height: 3px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(87, 2, 95), #e9da10, #4b0f46);
    margin: 60px auto 40px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
/* --------------------------------------Info Section (video) Style and layout--------------------------------------------------------- */
.SRVidDesign-card {
    flex: 1;
    max-width: 50%;
    background: rgb(78, 1, 78);
    border: 2px solid yellow;
    box-shadow: 0 0 10px yellow;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    margin-bottom:70px;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.SRVid-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
/* Video on Top */
.SRVid-Video {
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    border: 2px solid yellow;
    box-shadow: 0 0 10px yellow;
}
.SRvideo-box{
width: 100%;
display: flex;
justify-content: center;
margin-bottom: 40px; /* Some Spacing*/
}
/* Video on Top */
/* ------------------ */
.SRVidGame-description {
    flex: 1;
    color: yellow;
    font-size: 25px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px purple;
}

.SRVidGame-description h2 {
    color: yellow;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px purple;
    font-size: 30px;
}
.SRproject-info-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
    color: yellow;
    font-size: 22px;
    line-height: 1.6;
  }
  .SRproject-info-list li{
    margin-bottom: 5px;
  }
  .SRproject-info-list strong{
    color: yellow;
    font-weight: 900;
    text-shadow: 1px 1px 2px purple;
  }


/* --------------------------------------Level DesignStyle and layout--------------------------------------------------------- */
.SRLvlDesign-card {
    display: flex;
    flex-direction: flex;
    text-align: left;
    align-items: left;
    border: 2px solid yellow;
    background: rgb(78, 1, 78);
    border-radius: 20px;
    padding: 25px;
    width: 950px;
    height: auto;
    max-width: 1000px;
    box-shadow: 0 0 10px yellow;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.SRlevel-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
    width: 100%;
    max-width: 1800px;
    margin-left: 10px;
    padding: 0 auto;
}

.SRlevel-image {
    width: 950px;
    height: auto;
    border-radius: 10px;
    border: 2px solid yellow;
    box-shadow: 0 0 10px yellow;
}

.SRGame-description {
    flex: 1;
    margin-bottom: 100px;
    color: yellow;
    font-size: 24px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px purple;
}

.SRGame-description h2 {
    color: yellow;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px purple;
    font-size: 30px;
}

/* ----------------------------------SpeedRacers StartMenu World Section------------------------------- */
.MenuWorldDesign-card {
    display: flex;
    flex-direction: flex;
    text-align: left;
    align-items: left;
    border: 2px solid yellow;
    background: rgb(78, 1, 78);
    border-radius: 20px;
    padding: 25px;
    width: 950px;
    height: auto;
    max-width: 1000px;
    box-shadow: 0 0 10px yellow;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.SRMenuWorld-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
    margin-top: 30px;
    width: 100%;
    max-width: 1800px;
    margin-left: 10px;
}

.SRStartMenu-image {
    width: 950px;
    height: auto;
    border-radius: 10px;
    border: 2px solid yellow;
    box-shadow: 0 0 10px yellow;
}

.SRStartMenu-description {
    flex: 1;
    margin-bottom: 100px;
    color: yellow;
    font-size: 24px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px purple;
}

.SRStartMenu-description h2 {
    color: yellow;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px purple;
    font-size: 30px;
}

/* ----------------------------------SpeedRacers Track Top View Section------------------------------- */
.TrackDesign-card {
    display: flex;
    flex-direction: flex;
    text-align: left;
    align-items: left;
    border: 2px solid yellow;
    background: rgb(78, 1, 78);
    border-radius: 20px;
    padding: 25px;
    width: 950px;
    height: auto;
    max-width: 1000px;
    box-shadow: 0 0 10px yellow;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.SRTrack-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
    margin-top: 30px;
    width: 100%;
    max-width: 1800px;
    margin-left: 10px;
}

.SRTrack-image {
    width: 950px;
    height: auto;
    border-radius: 10px;
    border: 2px solid yellow;
    box-shadow: 0 0 10px yellow;
}

.SRTrack-description {
    flex: 1;
    margin-bottom: 100px;
    color: yellow;
    font-size: 24px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px purple;
}

.SRTrack-description h2 {
    color: yellow;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px purple;
    font-size: 30px;
}
/* ---------------------------------------SpeedRacers Logo */
.SRLogo-card {
    display: flex;
    flex-direction: flex;
    text-align: left;
    align-items: left;
    border: 2px solid yellow;
    background: rgb(78, 1, 78);
    border-radius: 20px;
    padding: 25px;
    width: 950px;
    height: auto;
    max-width: 1000px;
    box-shadow: 0 0 10px yellow;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.SRLogo-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
    margin-top: 30px;
    width: 100%;
    max-width: 1800px;
    margin-left: 10px;
}

.SRLogo-image {
    width: 600px;
    height: auto;
    border-radius: 10px;
    border: 2px solid yellow;
    box-shadow: 0 0 10px yellow;
    margin-left: 20px;
}

.SRLogo-description {
    flex: 1;
    margin-bottom: 200px;
    color: yellow;
    font-size: 24px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px purple;
}

.SRLogo-description h2 {
    color: yellow;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px purple;
    font-size: 30px;
}
/* ---------------------------(Iphone 14 pro Max, Iphone 13,etc) SCREEN Responsive------------------------------------ */
@media (max-width: 480px) {

    /* NAVBAR */
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
        gap: 12px;
        text-align: center;
    }

    .navbar-right {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .nav-btn {
        padding: 6px 10px;
        font-size: 12px;
        border-radius: 8px;
    }

    /* TITLES */
    h1, h2 {
        font-size: 26px ;
        margin-bottom: 50px;
        text-align: center;
    }

    /* MAIN CONTENT SECTIONS */
    .SRlevel-section,
    .SRMenuWorld-section {
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        gap: 20px;
        padding: 0 10px;
    }

    /* CARDS */
    .SRLvlDesign-card,
    .MenuWorldDesign-card {
        width: 90%;
        padding: 20px;
        height: auto;
        margin: 0 auto;
    }

    /* IMAGES */
    .SRlevel-image,
    .SRStartMenu-image {
        width: 100%;
        height: auto;
        border-radius: 10px;
        max-height: 250px;
        object-fit: cover;
    }

    /* TEXT DESCRIPTIONS */
    .SRGame-description,
    .SRStartMenu-description {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 20px;
        text-align: center;
        padding: 0 10px;
    }

    .SRGame-description h2,
    .SRStartMenu-description h2 {
        font-size: 22px;
        text-align: center;
    }

    /* SPACING */
    .section-divider,
    .top-hr {
        margin: 40px auto 30px auto;
    }

    body {
        padding-top: 20px;
    }
}