/* --------------------------------------Main Page Style--------------------------------------------------------- */
/* Navigation Bar for better Navigation of pages */
.navbar {
    position: fixed;
    top: 0;  left: 0;  width: 100%;  height: 80px;
    background: linear-gradient(135deg, #68026e, #896a03);
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 1000; /* ensures navbar stays on top of everything */
}
.navbar-right {
    justify-self: end;
    display: flex;
    gap: 20px;
}
.navbar-spacer {
    height: 80px; /* same height as navbar to prevent content overlap */
}
.arrow-btn:hover {
        background: silver;
        transform: translateX(-5px);
    }
    span{
        color: black;
        font-weight: bold;
    }
    
    body{
        background: purple;
        background-size: cover;
        display: block;
        margin: 0;
        min-height: 100vh;
        padding-top: 30px;
        
    }
    h1,h2{
        color: yellow;
        text-align: center;
        margin-bottom: 50px;
        text-shadow: 2px 2px 2px purple;
    }
    
    .arrow-btn-left{
        position: fixed;
        top:20px;
        left: 25px;
        color: yellow;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3 ease, transform 0.2 ease;
        text-shadow: 1px 1px 1px yellow; 
    }
    .arrow-btn-left:hover{
        background: rgba(255, 255, 255, 0.711);
        transform: translateX(-5px);
    }
    .flipped {
        display: inline-block;
        transform: scaleX(-1);
    }

    .arrow-btn-left span{
        color: yellow;
        font-weight: bold;
        text-shadow: 1px 1px 1px purple;
    }
    /* --------------------------------------Info Section Style and layout--------------------------------------------------------- */
.SRlevel-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
    width: 100%;
    max-width: 2000px;
    margin-left: 10px;
    padding: 0 auto;
}
.SRlevel-image{
    width: 900px;
    height: auto;
    border-radius: 10px;
    border: 2px solid yellow;
    box-shadow: 0 0 10px yellow;
}
.SRGame-description{
    flex: 1;
    margin-bottom: 150px;
    color: yellow;
    font-size: 24px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px purple;
}

.SRGame-description h2{
    color: yellow;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px purple;
    font-size: 30px;
}
/* ----------------------------------SpeedRacers StartMenu World Section------------------------------- */
.SRStartMenu-description{
    flex: 1;
    margin-bottom: 350px;
    color: yellow;
    font-size: 24px;
    line-height: 1.5;
    text-shadow: 1px 1px 2px purple;
}

.SRStartMenu-description h2{
    color: yellow;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px purple;
    font-size: 30px;
}
.SRStartMenu-image{
    width: 900px;
    height: auto;
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid yellow;
    box-shadow: 0 0 10px yellow;
}
    